.collection-item {
  position: relative;
  width: 20vw;
  height: 350px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collection-item .image {
  width: 100%;
  height: 95%;
  margin-bottom: 5px;
}

.collection-item .image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.collection-item .collection-footer {
  width: 100%;
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.collection-item .collection-footer .title {
  font-size: 18px;
  width: 90%;
}

.collection-item .collection-footer .price {
  width: 10%;
}

.custom-button.inverted {
  position: absolute;
  bottom: 15%;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.collection-item .image:hover {
  opacity: 0.8;
}

.collection-item:hover .custom-button.inverted {
  opacity: 0.8;
  visibility: visible;
}

.custom-button:hover {
  opacity: 0.6;
}